html, body {
  background-image: linear-gradient(90deg, #0f274b, #0d5785, #0d8691, #129b64, #638812);
}

.pressable {
  cursor: pointer;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}